<footer>
    <div id="footer" class="container white-text">
        <div class="row pt-5 pb-5">
            <div class="col l3 m6 s12">
                <h5 class="title">CONTACT US</h5>
                <div class="contactdetails">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        218, Lodha Supremus II,<br>
                        Road No. 22, Wagle Estate,<br>
                        Thane - 400 604,<br>
                        Mumbai- Maharashtra,<br>
                        India.<br>
					</p>
                    <i class="fa fa-envelope"></i>
                    <p>reachus@naamvidya.com</p>
				</div>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title">FIND US</h5>
                <a href="http://www.google.com/maps/place/LODHA Supremus, Thane" target="_blank">
                    <img class="responsive-img" src="images/map.png" />
				</a>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title">REACH US</h5>
                <div class="contactform">
                    Name *                  
                    <input type="text" class="w100" placeholder="Name" style="color:#232323;" data-ng-model="Name" />
                    Email-Id *                  
                    <input type="text" class="w100" placeholder="Email" style="color:#232323;" data-ng-model="Email" />
                    Message *                    
                    <textarea class="w100" placeholder=" Leave a message..." data-ng-model="Message" style="resize:none"></textarea>
                    <button type="button" class="waves-effect waves-light pink btn" data-ng-click="fn_SendMail()">Send</button><br />
                    <label for="example-text-input" class="col-form-label"><span style="color:white">{{errorMsg}}</span></label>
				</div>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title" style="color:#000000;">.</h5>
				<ul style="padding-left: 0;">
					<li><a class="terms" href="/terms-and-conditions">Terms and Conditions</a></li>
					<li><a class="terms" href="/privacy-policy">Privacy Policy</a></li>
					<li><a class="terms" href="/privacy-policy">Disclaimer</a></li>
				</ul>
                <a id="ssl" href="https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://naamvidya.com/&x=6&y=5" target="_blank" id="comodoTL">
                    <img src="comodo_secure_seal.png" />
				</a>
			</div>
		</div>
	</div>
</footer>
<div class="copyright  deep-purple clearfix">
    <div class="container center-align center-text">
        <div class="center-align text-center white-text deep-purple">Copyright © 2017 NaamVidya All rights reserved.</div>
	</div>
</div>