@*<br />
<br />
<br />*@
<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">
                    <div class=" bg-dark lead">
                        <img src="../images/banner/what-is-a-balanced-name-V2.jpg" alt="" class="card-img-top" />
                        <p>Origins of Balanced Name</p>
					</div>
                    <!-- <p style="font-family: 'Varela Round', sans-serif;">We hope that you have reached here after reading your First Name and Full Name analysis available to you at the site for free. If you haven’t done it yet, we urge you to please click here& review your name analysis before reading forward.</p> -->
                    <div id="innerBoxsection">
                        <p>
                            We hope you have taken your First Name and Full Name Analysis to understand the power of a name and how it affects our lives. If not, we urge you to take the same on this page.
						</p>
                        <p>Do also take the time to read a short write-up on why names matter by <a href="/why-names-matter">clicking here</a>.</p>
					</div>
                    <p style="font-family: 'Varela Round', sans-serif;">If you have taken a name analysis, then you would have surely realized that there is a strong connection of a name with an individual's desires, personality, health, and success. In fact, it’s much more than what meets the eye.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        In the sections ahead we have tried to explain how this relationship has established itself and why your Material and Spiritual journeys are strongly influenced by your name.
                        By Material, we mean the journey to peace of mind, happiness in personal relationships, including financial success.
                        By Spiritual, we mean your journey to understand the infinite God and to be one with the holy consciousness. To many realised ones, the journey of births ends by unity with the ultimate consciousness.
					</p>
					<p style="font-family: 'Varela Round', sans-serif;color:#d60a61;font-weight:bold;">The Subconscious Self: Your journey when you step in this material world</p>
					<p style="font-family: 'Varela Round', sans-serif;">Let us first understand what happens when we arrive in this material world.</p>
					<p style="font-family: 'Varela Round', sans-serif;">As we all know, we all enter this world at a specific date and time. Consider them as unique personal signatures gifted to us at birth.  </p>
					<p style="font-family: 'Varela Round', sans-serif;">Per the Vedas, Egyptians, Buddhism, Kabalah, Christians and other religious sects, this date and time are strongly governed by the following 3 important factors (amongst many others):</p>
					<ol style="font-family: 'Varela Round', sans-serif;">
						<li>Our karma in the previous material life.</li>
						<li>The level of spiritual growth and learning one has gone through.</li>
						<li>The Thoughts & Desires that one has during the final moments of your previous life.</li>
					</ol>
					<p style="font-family: 'Varela Round', sans-serif;">It is this information & maturity that is carried to the infant’s physical body through the soul. It is this knowledge and experience that can be best identified as subconscious self or the subconscious mind. However, all this vast information and learnings residing in our subconscious mind remains in a latent or resting state during initial years of our new life.  But as we grow, it begins to awaken and manifest or displays itself as a guide, both in an individual's decision making and in his/her path to spiritual salvation.</p>
					<p style="font-family: 'Varela Round', sans-serif;">There are but a chosen few, for whom this subconscious mind awakens much early in life and you often see them as children who speak much beyond their age or even clearly remember their past life experiences.</p>
					<p style="font-family: 'Varela Round', sans-serif;color:#d60a61;font-weight:bold;">The Conscious Self: Your journey after your first breath in this material world</p>
					<p style="font-family: 'Varela Round', sans-serif;">The conscious self can be considered as the mind or the brain, which has arrived new and fresh in an infant's body.  It is this conscious self that is ready to be conditioned, shaped, moulded & learn its lessons through its 5 senses viz: 1. Visual or Eye, 2. Hearing or Ears, 3. Touch or Fingers, 4. Taste or Tongue, and 5. Smell or Nose.</p>
					<p style="font-family: 'Varela Round', sans-serif;">As we all know, everything we hear, observe, feel or taste, is nothing but an information signal that is sent to our mind. It is these signals that condition our brains to maturity.</p>
					<p style="font-family: 'Varela Round', sans-serif;color:#d60a61;font-weight:bold;">Your True Self:  Sub Conscious + Conscious</p>
					<p style="font-family: 'Varela Round', sans-serif;">It is the Body (Mind) and Soul that make up a person.  In other words, it’s your Conscious and Subconscious Self that come together to define who you are as an individual. Your success; both material and spiritual completely depends on the balance of these two minds. As a matter of fact, the most successful people in the world are the ones whose subconscious mind and conscious minds are well aligned in a similar plane, to know and support each other in their endeavour.</p>
					<p style="font-family: 'Varela Round', sans-serif;">This is because the person’s decisions are based on maturity, not just of this life but also has the assistance of lessons learned in all the previous lives. All available to him through his subconscious mind. Similarly, if they are unbalanced, it leads to lack of confidence at work, disharmony in family and hurdles in your spiritual journey.  Such a person often takes up actions or decisions which he is not himself confident about and as such, shows in results or outcome of the action.</p>
					<p style="font-family: 'Varela Round', sans-serif;color:#d60a61;font-weight:bold;">The Balance:</p>
					<p style="font-family: 'Varela Round', sans-serif;">To bring a balance, one first needs to understand what a Subconscious Mind is and its desires, and then find a way to make use of the cognitive senses to provide a balance between the Conscious Mind (The Brain) and the Subconscious Mind.</p>
					<p style="font-family: 'Varela Round', sans-serif;">And here is where the power of a name manifests, as it is the strongest vibration that you resonate and relate with. Channelling itself to the mind through the hearing and visual senses it has the most profound impact in shaping your conscious mind to reach the desired objective.</p>
					<p style="font-family: 'Varela Round', sans-serif;">As such, you succeed in whichever endeavour or path of life you take up.</p>
					<p style="font-family: 'Varela Round', sans-serif;">At NaamVidya, we intend to help people know what his/her subconscious mind desires and then assist in choosing a name which will help bring success, peace, and growth in your life.</p>
					<p><b style="font-family: 'Varela Round', sans-serif;font-style: italic;">- NaamVidya Principles.</b></p>
				</div>
			</div>
			<div class="col s12 l3" data-ng-controller="sidebarController">
				<div class="bg-yellow animated slideInBottom">
					<div class="form clearfix">
						<h5 class="lead wc">
							<img src="images/soundicon.png" alt="" />Free First<br>
							Name Analysis
						</h5>
						<p>
							<input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
							<label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>
						</p>
						<!--p>Date of Birth<br/>
							<input class="col  s12" type="text" />
						</p-->
						<input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
					</div>
				</div>
				<div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;">
					<div class="list">
						<ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
							<li><a href="/about-us">About NaamVidya</a></li>
							<li><a href="/why-names-matter">Why name matters</a></li>
							<!-- <li><a href="/balanced-name">Origins of balanced name</a></li> -->
							<li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
							<li><a href="/life-path">Purpose and Karma</a></li>
							<li><a href="/faq">FAQ</a></li>
							<li><a href="/full-name-analysis">Full Name Report</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>				