@*<br />
    <br />
    <br />*@
<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">
                    <div class=" bg-dark lead">
                        <img src="../images/banner/Order-Business-Names.jpg" alt="" class="card-img-top" />
                        <p>Business Name</p>
                    </div>
                    <p style="font-family: 'Varela Round', sans-serif;">Starting a business or venture is an emotional decision as it has aspiration, ambition, hard work and investments of the creator. Also, to succeed, it needs the right support from employees and the trust of its customers.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">The first and the foremost part of starting a venture is to give a name to your business or brand. Not only is it an identity that you and your employees will emotionally connect with, but also is the first thing that your customers will learn and through which make an impression about you and your product/service.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">Fortunately for us, the power and vibration of Characters, Sound, and Numbers don’t restrict themselves to just humans, their personalities & their destinies. Their influences are equally felt to our material creations as well.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">Business Names, Addresses, Phone Numbers and Colour of Logo show remarkable affinity to Alphabets, Words, Sound, and Numbers.  Hence, they hold tremendous power and can play an important role in the way your business is perceived, accepted, grows and attracts financial success.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">Many a time we see great ideas, vision, hard work and investments not resulting in the desired success. On deeper analysis, we can see that it is the numbers do not resonate the vibration of success.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">The Name of your business specifically play an important role in defining the following finer aspect:</p>
                    <ul style=" list-style-image: url('../images/nv-bullet.png');font-family: 'Varela Round', sans-serif;">
                        <li>Whether it correctly depicts the nature of your business i.e. Technical, Creative, Mechanical, Philanthropy, Inspirational etc.</li>
                        <li>How customers will perceive your identity and whether it is destined or designed to attract financial success.</li>
                    </ul>
                    <p style="font-family: 'Varela Round', sans-serif;">Hence, coupled with the right intent, ethics, and effort made by the creators of the business, a name incorporating balanced numbers is likely to attract the desired business success.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">At NaamVidya, using the power of Alphabets and Numbers, we can help you in this search for a suitable name for your business.</p>
                    <p><b style="font-family: 'Varela Round', sans-serif;font-style: italic;">- NaamVidya Principles</b></p>
                    @*  <p style="font-family: 'Varela Round', sans-serif;">Following are the offerings by NaamVidya:</p>
                        <ul style=" list-style-image: url('../images/nv-bullet.png');font-family: 'Varela Round', sans-serif;">
                            <li>Evaluate your existing Business or Brand Name to check if it is balanced with its intended objective.</li>
                            <li>Partner & help in choosing a balanced business name.</li>
                        </ul>
                        <p style="font-family: 'Varela Round', sans-serif;"><b>Note:</b> Business Name and Logo suggestion is a very personalised offering.</p>
                        <p style="font-family: 'Varela Round', sans-serif;">We request you to please write to us at BusinessNames@naamvidya.com</p>
                        <p><b style="font-family: 'Varela Round', sans-serif;font-style: italic;">- NaamVidya Principles</b></p>*@
                    <p style="text-align:center; font-family: 'Varela Round', sans-serif;"><b>-SERVICE OFFERING-</b></p>
                    <p style="font-family: 'Varela Round', sans-serif;"><b>What is covered in the business name evaluation service:</b></p>
                    <p style="font-family: 'Varela Round', sans-serif;">Under this evaluation we will help you evaluate and check your business name for the following 3 key vibrations:</p>
                    <b>
                        <ol style="font-family: 'Varela Round', sans-serif;">
                            <li>How is the overall vibration of the "Business Name" to make it financially successful/sound and ensure harmony within the team (promoters and employees). i.e. Internal aspects of the business.</li>
                            <li>How will the customers and suppliers feel when dealing with the business establishment. i.e. External aspects.</li>
                            <li>How well is the vibration of main promoters Date-of-Birth aligned with the name of business.</li>
                        </ol>
                        <p style="font-family: 'Varela Round', sans-serif;">As part of the evaluation, we will also suggest possible corrections or variations to your business entity name that will create a vibration for financial success and support your hard work.</p>
                    </b>
                    <div class="row" style="margin-top: 12px !important;">
                        <div class="pricing col s12 m12 clearfix active" style="display:block">
                            <div class="col m6 s12">
                                <div class="pricingtable gold combo">
                                    <div class="pricingtablename" style="background:linear-gradient(to bottom right, #dfc673, #963787) !important;">
                                        <h3 style="margin-bottom: 0px;">BUSINESS NAME PLATINUM </h3>
                                    </div>
                                    @*<div class="pricingtableprice">Price INR 1690 (USD:26) + Taxes</div>*@
                                    @*<div class="pricingtableprice">Price INR 1690 + Taxes</div>*@
                                    <div class="pricingtableprice" style="background-color: #f7f7f7;">
                                        <p style="font-size:25px;font-weight:bold;margin: 0;margin-left: 20px;">Price :</p>
                                        <p style="margin: 0;margin-left: 25px;" id="price_desktop">
                                            <span style="font-size:15px;font-weight:bold;">INR</span>       4200<span style="margin:0;margin-left: 13px;font-size: 15px;font-style: italic;">+ Taxes</span>
                                        </p>
                                        <p style="margin: 0;margin-left: 25px;" id="price_mobile">
                                            <span style="font-size:15px;font-weight:bold;">INR</span>       4200<span style="margin:0;margin-left: 13px;font-size: 15px;font-style: italic;">+ Taxes</span>
                                        </p>
                                        <p style="margin: 0;margin-left: 25px;" id="price_desktop">
                                            <span style="font-size:15px;font-weight:bold;">USD</span>       90
                                        </p>
                                        <p style="margin: 0;margin-left: 25px;" id="price_mobile">
                                            <span style="font-size:15px;font-weight:bold;">USD</span>       90
                                        </p>
                                    </div>
                                    <div class="pricingtablecontent" style="background-color: #f7f7f7;">
                                        <ul>
                                            <li class="enable">Get upto 5 business names (Legal Entity or/and Brand Names) checked for Balance.</li>
                                            <li class="enable">Get correction (or possible variants) for the names (suggested by you and found unbalanced).</li>
                                            <li class="enable">Name Recommendation Report.</li>
                                            <li class="enable">Service delivery: Within 72 hours.</li>
                                            <li class="enable">Suggestion on preferred website name to be used for the brand.</li>
                                            <li class="enable">Dedicated Name Specialist.</li>
                                            <li class="enable">Telephonic consultation.</li>
                                            <li class="enable">GST Invoice available for corporate clients.</li>
                                        </ul>
                                        <div class="pricingtablebutton"><a data-ng-click="fn_Add_To_Cart()">Order Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    @*
                        <p style="font-family: 'Varela Round', sans-serif;">What is covered in the business name evaluation service:</p>
                        <p style="font-family: 'Varela Round', sans-serif;">Under this evaluation we will help you evaluate and check your business name for the following 3 key vibrations:</p>
                        <b>
                            <ol style="font-family: 'Varela Round', sans-serif;">
                                <li>How is the overall vibration of the "Business Name" to make it financially successful/sound and ensure harmony within the team (promoters and employees). i.e. Internal aspects of the business.</li>
                                <li>How will the customers and suppliers feel when dealing with the business establishment. i.e. External aspects.</li>
                                <li>How well is the vibration of main promoters Date-of-Birth aligned with the name of business.</li>
                            </ol>
                            <p style="font-family: 'Varela Round', sans-serif;">As part of the evaluation, we will also suggest possible minor corrections or variations to your business entity name that will create a vibration for financial success and support your hard work.</p>
                        </b>*@
                </div>
            </div>
            <div class="col s12 l3" data-ng-controller="sidebarController">
                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
                        </h5>
                        <p>
                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
                            <label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>
                        </p>
                        <!--p>Date of Birth<br/>
                            <input class="col  s12" type="text" />
                        </p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
                    </div>
                </div>
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;">
                    <div class="list">
                        <ul>
                            <li><a href="/why-names-matter">Why names matter</a></li>
                            <li><a href="/how-it-works">How it works</a></li>
                            <!-- <li><a href="/business-name">Order a Business name</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>