<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">
                    <div class=" bg-dark lead">
                        <img src="../images/banner/Choosing-A-Baby-Name.jpg" alt="" class="card-img-top" />
						<p>How to choose a name for a newborn</p>
					</div>
                    <p style="font-family: 'Varela Round', sans-serif;">Firstly, if you are reading this and have a newborn or about to enter parenthood, Hooray!!!</p>
                    <p style="font-family: 'Varela Round', sans-serif;"> NaamVidya congratulates you & welcomes you to the most beautiful phase of life! :-)</p>
                    <p style="font-family: 'Varela Round', sans-serif;">We receive many questions on how one should go about choosing a balanced name for the new-born and hence decided to put forward our thoughts around it.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">At NaamVidya we completely understand that selecting a name for your newborn is not an easy task and can get very confusing to arrive upon the perfect identity for your child.</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        However, considering that name is going to remain with your child all his life and be the first thing that people will learn about him/her, it’s worth taking the time and efforts to find that perfectly balanced name.
					</p>
					<p style="font-family: 'Varela Round', sans-serif;">
                        Well, if we had to structure this so-called quest for the perfect name, we would say that there are two parts to it:
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;font-weight:bold;">
                        1.     	Choosing the right name.<br/>
                        2.     	Identifying whether it is balanced to child's purpose in life, inborn strengths, and if it is not, then how do we make it happen.<br />
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        While NaamVidya can help you with both, we also understand that name assignment is a very personal family matter and our suggested name may sometimes not resonate perfectly with yours.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        This is fine. In fact, we strongly recommend that parents and guardians themselves take up the name shortlisting affair with all the enthusiasm. After all, it's once in a lifetime opportunity!
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Given below are general guidelines which you can follow to shortlist names, before sending it to us for Name Balance review:
					</p>
                    <p style="color:red;font-family: 'Varela Round', sans-serif;">
                        <b>
                            CAUTION:
						</b> Please do not attempt to balance a name by yourself, after reading a book or the free name analysis given on our website. Balancing a name to destiny is a science and can have adverse effects if done incorrectly.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b>1.     	Focus on the vibration of your thoughts:</b> 
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        We give the highest weightage to Vibration of thoughts. At a time when you have just entered parenthood or about to enter one, your mind is full of positive thoughts and happiness.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        The names that comes to mind during such times have a lot of personal vibration of love and as such, help build a strong bond between you and your child.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b> A special tip here:</b> <i style="font-style:italic;"> Always make note of the first name that comes to your or spouse's mind when you begin your day's journey thinking of a name. Often, the name comes from your subconscious mind and is the one which is the best suited.</i>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b> 2.     	A respect to history, ancestors, and tradition:</b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        It's always a good idea to have a name which respects a noble soul in a family or elsewhere, especially if he/she has made a positive difference to you or family.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Think of a way to have his/her name incorporated in your child's name, in part, in initial or whole. Believe us, not only does it brings with itself a lot of blessings, but also, at times some of the finer positive traits of the blessed soul get passed on as a gift to the child.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b>3.     	Pronounce it right:</b> 
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Always remember, it is going to be a smaller world with lesser boundaries with time. The likelihood of your child interacting with someone outside your cultural and country boundaries is very high.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Hence, it's very important that your name is pronounced right when people read it, not only in the society and country you live in but also outside of it.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Thanks to advancement in technology, a good way to handle this is to have your name pronounced by online translation tools such as available from Google (<a href="https://translate.google.com/" target="_blank">translate.google.com</a>), Microsoft/Bing (<a href="http://www.bing.com/translator" target="_blank">bing.com/translator</a>)
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        These sites can help you know how your child's name will be pronounced in various countries. Try it, not only it is interesting, but a fun exercise too!
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b>4.     	Mean it right:</b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Just as the pronunciation, understand that your loved cultural name may not mean the same internationally. So, it's always a good practice to have its meaning checked in countries outside your own. There are many sites online (Google, Bing, Yahoo etc…) which can help you do the check.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b> 5.     	Initials check:</b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        A full name initial is a very important check. e.g. Ashok Surendra Sharma, Mohsin Ahmed Dar, Susan Oliver Berry, Rick Arthur Travolta may not sound the best & for obvious reasons.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
						<b> 6.     	Keep it Short, if your last name is Long:</b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Not only are short names easy to spell, but also easier to combine if your last name is long or a bit complicated for everyone to pronounce. Try a few in your mind and you will know what we mean.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        <b> 7.     	Popular name, with a bit of caution:</b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Some parents like naming their baby with a popular name of a person- like a celebrity. We advise a bit more introspection here. As while the popularity of a name may be at a high today for positive reasons, the same may not be the case in future, due to a negative incident.
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
						<b> 8.     	Names lasting a lifetime: </b>
					</p>
                    <p style="font-family: 'Varela Round', sans-serif;">
                        Make sure the name you give your child will last a lifetime. A cute name that suits a baby or young child, may not suit him/her as a teenager or adult.
					</p>
				</div>
			</div>
            <div class="col s12 l3" data-ng-controller="sidebarController">
                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
						</h5>
                        <p>
                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
							<label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>    
						</p>
                        <!--p>Date of Birth<br/>
							<input class="col  s12" type="text" />
						</p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
					</div>
				</div>
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;">
                    <div class="list">
                        <ul>
                            <li><a href="/why-names-matter">Why names matter</a></li>
                            <li><a href="/full-name-analysis">Full name report</a></li>
                            <li><a href="/how-it-works">How it works</a></li>
                            <li><a data-ng-click="f_New_Baby_Name()">Order a Baby Name</a></li>
                            <!-- <li><a href="/choosing-baby-name">Baby Name ideas</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>