<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">
                    <div class=" bg-dark lead">
                        <img src="../images/banner/FAQ.jpg" alt="" class="card-img-top" />
						<p>FAQ (Frequently Asked Questions)</p>
					</div>
                    <ul class="collapsible" data-collapsible="accordion" style="padding-left:0px;">
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_1')">How did NaamVidya determine my nature and health issues from my Name?</div>
                            <div class="collapsible-body" id="body_1" style="display:none;">
								<p>The answer to this question is our vast experience in the ancient science of Numbers called Gematria, also known in the modern world as Numerology. It is this science which assigned a numerical value to every phonetic/sound vibration created by an alphabet in a word or a name.</P>
								<p>While there are many schools which interpreted this vibration of sound, (viz: Pythagorean Gematria, Kabala-Hindu/Vedic Gematria, Chaldean Gematria, Sepharial Gematria), at NaamVidya we use a very selective combination to accurately determine the identity of a person and suggest the most suitable balanced name.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_2')">What is a balanced name?</div>
                            <div class="collapsible-body" id="body_2" style="display:none;">
                                <p>   Every First Name, Surname and Date of Birth come with their positive and negative influences. However, what matters is the effect when they align. That is to say, whether they support or oppose each other when together.
								It is like compatibility between two life partners, where for peace and happiness what matters is how well they can bond, and not necessarily how good they are individually as people.</p>
								<p>
									A balanced name essentially creates this harmony by conditioning your mind to ensure that the strengths that are gifted to you at the time of birth (understood by analysing your date of birth) are available to use in your life.
									As such, it creates a vibration that is strong enough for a person to fulfil his/her goal and brings happiness and success in personal & professional life.
								</p>
								<p>
									<!-- Refer to the link to understand Why and What is a Balanced Name for more details. -->
									To read more about balance name read our blog <a href="/balanced-name">"Origins of Balanced Name"</a>.
								</p>
							</div>
						</li>
						<li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_19')">I have read my name analysis report. Do I need to balance my name?</div>
                            <div class="collapsible-body" id="body_19" style="display:none;">
								<p>Well, this decision is for you to take. </p>
								<p>The report details the effects of your name and full name in your life. Whether these influences are having a desirable or a negative effect is something only you can judge. </p>
								<p>Some influences may be showing today and may further aggravate tomorrow, while others may appear as your grow.</p>
								<p>Hence, a decision to take up a name change can either be a preventive measure or remedial measure.  A preventive or proactive measure though is recommended to restrict the growth of any negative influence, before they become irreversible.</p>
								<p>If you took the analysis for a new born or child in early years, a balanced name is the biggest gift that can be given. As the effect and vibrations of a balanced name start earlier. More importantly, the positive strengths are available to him/her in abundance to pursue his destiny of life and to achieve success.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_3')">How will choosing a name through NaamVidya help my child?</div>
                            <div class="collapsible-body" id="body_3" style="display:none;">
                                <p>Every child's date of birth comes with its own strengths and weaknesses. This, when coupled with the vibrations of the child's name, can either increase or reduce the possibilities of a good life for the child. Through the balanced name suggestion service offered at Naamvidya, we ensure:</p>
                                <p>
									1.  That the chosen name is suitable & balanced as per the mathematical principle of Naamvidya.
									<br/>  2.   That the chosen name & date of birth are in harmony to support each other.
                                    <br />  3.  The positive strengths (understood from his date of birth) are available to use in abundance, thereby bringing much positive experiences and success in life of a child.
								</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_4')">What if I already have a few names in mind for our newborn/child? Will you be able to analyze them?</div>
                            <div class="collapsible-body" id="body_4" style="display:none;">
                                <p> While NaamVidya can help suggest a balanced name for your newborn/baby, we also acknowledge that name assignment is a very personal family matter. Also, our suggested names may sometimes not resonate perfectly with yours.
								In fact, we strongly recommend that parents and guardians themselves take up the name shortlisting affair with all the enthusiasm.</p>
                                <p>So, if you already have a list of names that you'd like us to analyze, then please feel free to pass them on to us through the Name Suggestion Questionnaire, that we ask you to fill-up after placing your order. </p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_5')">Is the name suggestion services for newborn/child/adult available only for a particular religion or sect?</div>
                            <div class="collapsible-body" id="body_5" style="display:none;">
                                <p> NaamVidya Principles are not bound by any race, ethnicity, religion, colour or country. Our services, including the vast database of Balanced Name, span across religions and geographies.</p>
                                <p> Our name specialists also ensure that the balanced name suggested to you are tailored to your religion, race and geographic asks.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_6')">How many balanced names will NaamVidya provide me (for my newborn) to choose from?</div>
                            <div class="collapsible-body" id="body_6" style="display:none;">
                                <p>While the uniqueness of your surname and date of birth can impact the number of balanced names applicable, however, in most cases our name specialists ensure that you are provided with 10 - 15 balanced names to choose from.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_7')">How can I be sure that the names suggested by NaamVidya are right?</div>
                            <div class="collapsible-body" id="body_7" style="display:none;">
                                <p>A very valid question and more so, as there are many schools of Numerology and Astrology that interpret alphabets, words and planetary positions in a certain way. However, a real master will never rely on one school, as every system has its uniqueness to interpret a certain trait of a number and alphabet. Some schools are good at interpreting personality traits, some focus on subtle vibrations of the subconscious and some take into consideration the outcome of karmas of previous birth.</p>
                                <p> At NaamVidya, we use a mix of Astrology and 2 schools of Numerology to interpret and advise on names. This blended science is very sacred to NaamVidya and is something even the most experienced of Numerologist have not been able to master.</p>
								<p> Detail analysis of names basis our philosophy and principles is available free to cost for people to take and you can engage with us for yourself or your baby’s name only if you relate and are convinced of our science.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_8')">What other services does NaamVidya provide besides new Baby names?</div>
                            <div class="collapsible-body" id="body_8" style="display:none;">
                                <p>In addition to providing balanced names for newborn, we also offer consultations on correction/modification of existing names (for children and adult), name change after marriage, new business name etc.</p>
                                <p> We also entertain any custom name requirements that you may have.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_9')">How much time does NaamVidya take to suggest a balanced name, after placing an order?</div>
                            <div class="collapsible-body" id="body_9" style="display:none;">
                                <p>After placing an order for name suggestion services, we immediately furnish you with a name suggestion questionnaire to fill up online.</p>
                                <p>Post receiving your answers and preferences, a name specialist is assigned and reverts to you with a balanced names in less than 48 hours for New Name suggestion service and within 72 hours for Name Correction service.</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_10')">Can I speak to a Name Specialist?</div>
                            <div class="collapsible-body" id="body_10" style="display:none;">
                                <p>
                                    All our services are provided through our online platform only. However, for special cases (decided by our name specialist), we may reach out to you directly. 
								</p>
							</div>
						</li>
                        <!-- <li> -->
						<!-- <div class="collapsible-header" data-ng-click="f_show_body('body_11')">Are there any other charges or taxes in addition to the price shown?</div> -->
						<!-- <div class="collapsible-body" id="body_11" style="display:none;"> -->
						<!-- <p> -->
						<!-- No, all taxes & duties are included in the price shown on the order page. -->
						<!-- </p> -->
						<!-- </div> -->
                        <!-- </li> -->
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_12')">What is your order cancellation/refund policy?</div>
                            <div class="collapsible-body" id="body_12" style="display:none;">
                                <p>
                                    Due to the nature of service, order once placed cannot be cancelled. 
								</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_13')">Does a change of name guarantee a successful life?</div>
                            <div class="collapsible-body" id="body_13" style="display:none;">
                                <p>
                                    While a change to a balanced name can significantly improve the quality of life, it also requires you to focus and have an attitude to work towards your goal. Also, please remember that a name correction/change does not eliminate the effects of your birth name. However, it can add strengths and positive abilities thereby supporting you in life’s journey going forward.
								</p>
							</div>
						</li>
						<li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_19')">Will a change in name heal a health aliment?</div>
                            <div class="collapsible-body" id="body_19" style="display:none;">
                                <p>
									We do not make any such claims.However, any health-related strain caused due to your existing name (as shown in your name report and has not caused any irreversible damage), may show improvements. Though it is best you consult a medical practitioner.
								</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_14')">How much time does it take for a name change to show it effects?</div>
                            <div class="collapsible-body" id="body_14" style="display:none;">
                                <p>
                                    The time for a name change to show its effect depends upon how much you recognize yourself with it and are recognized by others. The sooner this identification, the earlier the effects can be experienced. Please also remember that a name change in desperation or to avoid a certain impending incident is bound to fail. 
								</p>
							</div>
						</li>
                        <li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_15')">Will my name change my destiny?</div>
                            <div class="collapsible-body" id="body_14" style="display:none;">
                                <p>
                                    Well, there is no resenting/avoiding Karma or Purpose in life. Your first breath to the last, are all covered by forces much beyond what a human mind can fathom or a name can change. But,  a name can definitely help create a better environment for you to serve your purpose in life with much peace and harmony. 
								</p>
							</div>
						</li>
						<li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_16')">My child is 3 years old. Do you recommend new name or correction in the existing name?</div>
                            <div class="collapsible-body" id="body_16" style="display:none;">
                                <p>
                                    First, we would analyse the existing name to check whether the name is balanced with a date of birth and Life path. If it is not balanced, then we try to correct it by changing the spelling. As the child is small, we recommend you to go for a new balanced name.
								</p>
							</div>
						</li>
						<li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_17')">As a family, we believe in Astrology. Do you consider it when suggesting names?</div>
                            <div class="collapsible-body" id="body_17" style="display:none;">
                                <p>Astrology and Numerology are two different sciences. </p>
								<p>While astrology is the study of the movements and relative positions of celestial bodies interpreted as having an influence on human affairs and the natural world.</p>
								<p>Gematria or Numerology on the other end is a science that measures the vibration and effect of every alphabets, phonetics, and sound.</p>
								<p>As such, when it comes to measuring an impact of a name on a person or business, Gematria or Numerology is considered favorable. In fact, one of the older schools of Numerology has its roots in the Vedic systems, like Astrology.</p>
								<p>At NaamVidya, while we primarily use the science of numbers to arrive at a balanced name, however, certain finer number compatibilities (e.g. to your date of birth) are measured using Astrology. </p>
								<p>Thereby, ensuring that the name recommended to you cover the best of both worlds and provides the friendliest vibration to a person.</p>
							</div>
						</li>
						<li>
                            <div class="collapsible-header" data-ng-click="f_show_body('body_18')">Is NaamVidya Name Assignment Certificate a birth certificate?</div>
                            <div class="collapsible-body" id="body_18" style="display:none;">
                                <p>
                                    No, birth certificates are issued by a government office local to a place of birth. Please check with your local administrative body/office for rules and procedures to obtain a birth certificate.
								</p>
							</div>
						</li>
					</ul>
				</div>
			</div>
            <div class="col s12 l3" data-ng-controller="sidebarController">
                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
						</h5>
                        <p>
                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
							<label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>    
						</p>
                        <!--p>Date of Birth<br/>
							<input class="col  s12" type="text" />
						</p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
					</div>
				</div>
                <!-- Principles -->
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;" data-ng-show="currentPage == 'Principles'">
                    <div class="list">
                        <ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
							<li><a href="/about-us">About NaamVidya</a></li> 
                            <li><a href="/why-names-matter">Why name matters</a></li>
                            <li><a href="/balanced-name">Origins of balanced name</a></li>
                            <li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
                            <li><a href="/life-path">Purpose and Karma</a></li>
                            <!-- <li><a href="/faq">FAQ</a></li> -->
						</ul>
					</div>
				</div>
                <!-- About -->
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;" data-ng-show="currentPage == 'About'">
                    <div class="list">
                        <ul>
                            <li><a href="/about-us">Naamvidya</a></li>
                            <li><a href="#footer">Contact</a></li>
                            <!-- <li><a href="/faq">FAQ</a></li> -->
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>