<footer>
    <div id="footer" class="container white-text whtsapp">
        <div class="row pt-5 pb-5">
            <div class="col l3 m6 s12">
                <h5 class="title">CONTACT US</h5>
                <div class="contactdetails">
                    <i class="fa fa-map-marker"></i>
                    <p>
                        218, Lodha Supremus II,<br>
                        Road No. 22, Wagle Estate,<br>
                        Thane - 400 604,<br>
                        Mumbai- Maharashtra,<br>
                        India.<br>
					</p>
                    <i class="fa fa-phone"></i>
                    <p>+91 90223 37169</p>
                    <i class="fa fa-whatsapp" style="color: #41ce41;"></i>
                    <p>+91 82919 19698</p>
                    <i class="fa fa-envelope"></i>
                    <p>reachus@naamvidya.com</p>
				</div>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title">FIND US</h5>
                <a href="http://www.google.com/maps/place/LODHA Supremus, Thane" target="_blank">
                    <img class="responsive-img" src="images/map.png" />
				</a>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title">REACH US</h5>
                <div class="contactform">
                    Name *
                    <input type="text" class="w100" placeholder="Name" style="color:#232323;" data-ng-model="Name" />
                    Email-Id *
                    <input type="text" class="w100" placeholder="Email" style="color:#232323;" data-ng-model="Email" />
                    Message *
                    <textarea class="w100" placeholder=" Leave a message..." data-ng-model="Message" style="resize:none"></textarea>
                    <button type="button" class="waves-effect waves-light pink btn" data-ng-click="fn_SendMail()">Send</button><br />
                    <label for="example-text-input" class="col-form-label"><span style="color:white">{{errorMsg}}</span></label>
				</div>
			</div>
            <div class="col l3 m6 s12">
                <h5 class="title" style="color:#000000;">.</h5>
                <ul style="padding-left: 0;">
                    <li><a class="terms" href="/terms-and-conditions">Terms and Conditions</a></li>
                    <li><a class="terms" href="/privacy-policy">Privacy Policy</a></li>
                    <li><a class="terms" href="/privacy-policy">Disclaimer</a></li>
				</ul>
                <a id="ssl" href="https://secure.comodo.com/ttb_searcher/trustlogo?v_querytype=W&v_shortname=CL1&v_search=https://naamvidya.com/&x=6&y=5" target="_blank" id="comodoTL">
                    <img src="comodo_secure_seal.png" />
				</a>
                <img src="/images/payu.png" style="height: 36px;margin-top: 0px;margin-bottom: 5px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
				<img src="/images/mastercard.png" style="height: 62px;margin-top: 0px;margin-bottom: -8px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
			    <img src="/images/upi_new.png" style="height: 26px;padding-left: 8px;padding-right: 20px;margin-top: 0px;margin-bottom: 5px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
				<!-- <img src="/images/paypal.png" style="height: 43px;margin-top: 0px;margin-bottom: 3px !important;padding-top: 0px !important;padding-bottom: 0px !important;"> -->
				<!-- PayPal Logo -->
				<a href="https://www.paypal.me/naamvidya" title="Now accepting PayPal" onclick="javascript:window.open('https://www.paypal.me/naamvidya','WIPaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=1060, height=700'); return false;">
				<img src="https://www.paypalobjects.com/webstatic/mktg/logo/bdg_now_accepting_pp_2line_w.png" border="0" alt="Now accepting PayPal" style="width: 39% !important;"></a>
				<!-- PayPal Logo -->
                <img src="/images/visa.png" style="height: 60px;margin-top: 0px;margin-bottom: -13px !important;padding-top: 0px !important;padding-bottom: 0px !important;">
				@*<img src="/images/Paytm.png" style="margin-right: 0px !important;height: 56px;margin-top: -8px;margin-bottom: 0px !important;padding-top: 0px !important;padding-bottom: 0px !important;margin-left: -7px !important;">*@
			</div>
		</div>
        <div class="pt-5 pb-5">
            <p style="font-size: 12px !important;">
                Naamvidya helps balance your name with destiny by using the principles of <a href="#" class="fcolor">name numerology.</a> Historically, we have always seen naming ceremony as an important religious activity done by a learned guru and there is a reason behind the same. A name in the literal sense is Mantra that you relate and chant throughout your life. It has power to condition your mind, health and life. As a result, our name plays an important role to shape who we are and what we can achieve in our life. Hence it should be chosen carefully. Thus, if you are unable to achieve your life goals or are surrounded by stress and unhappiness, seek <a href="/name-correction" class="fcolor">numerology name change</a> from experts in the field at Nammvidya. It will give a suitable direction to your destiny. We also offer <a href="/baby-name" class="fcolor"> numerology name for new born baby.</a> as soon as you plan to name your child, you can reach out to us for <a href="/baby-name" class="fcolor"> baby name numerology.</a> we offer numerological balanced <a href="/about-us" class="fcolor">baby names</a>, including <a href="/how-it-works" class="fcolor">Hindu baby name</a>, Christian baby names, Muslim baby names etc... naamvidya also offers <a href="/business-name" class="fcolor">business name numerology</a> services that help you give a firm boost to your business by crafting its chosen path. <a href="/about-us" class="fcolor">meaning of names</a> is very important for personal and professional growth and naamvidya offers best services based on numerology principles at a very nominal cost.
			</p>
		</div>
	</div>
</footer>
<div class="copyright  deep-purple clearfix">
    <div class="container center-align center-text">
        <div class="center-align text-center white-text deep-purple">Copyright © 2017 NaamVidya All rights reserved.</div>
	</div>
</div>