<div class="homeslider">
    <div class="slick-slider center">
        <div class="slider-item purple" href="#one!">
            <img src="images/slider/nbanner1.jpg" class="responsive-img" alt="slide1" />
            <div class="slidercaption"><h1 class="home wc" style="font-family: 'Varela Round', sans-serif; font-weight:bold;"><!--Did you know?--> A name impacts</h1><h1 class="home wc subhead"> a child's destiny.</h3></div>
		</div>
        <div class="slider-item purple" href="#one!">
            <img src="images/slider/nbanner3.jpg" class="responsive-img" alt="slide1" />
            <div class="slidercaption"><h1 class="home wc" style="font-family: 'Varela Round', sans-serif; font-weight:bold;">Is your name </h1><h1 class="home wc subhead">limiting success?</h3></div>
		</div>
        <div class="slider-item purple" href="#one!">
            <img src="images/slider/nbanner4.jpg" class="responsive-img" alt="slide1" />
            <div class="slidercaption"><h1 class="home wc" style="font-family: 'Varela Round', sans-serif; font-weight:bold;">A business name for</h1><h1 class="home wc subhead"> success of your dreams.</h3></div>
		</div>
	</div>
    <div class="badgeimg">
        <img src="~/images/badge.png" />
	</div>
    <div class="ribbonbar">
        <div class="row clearfix ">
            <div class="m4 blackshadow">
                <p style="font-family: 'Varela Round', sans-serif;margin-top:0;">A name can <b style="color:#d70a61;">"HURT"</b> or bring <b style="color:#d70a61;">"SUCCESS"</b>.<br /> Take your FREE first name analysis to see its impact.</p>
                <input type="text" placeholder="Enter First Name" data-ng-model="firstName1" only-alphabet />
                <input type="button" data-ng-click="analyzeFirstName(firstName1);" value="Analyse" class="waves-effect waves-light pink btn" />
                <label style="color:#f8bf3c;position:absolute;left:40px;bottom:0;">{{errMsg}}</label>
			</div>
		</div>
	</div>
</div>
<div class="visionsection">
    <div class="bannersection">
        <div class="sideribbon">
            <img class="" src="images/sideribbon.png" />
            <div class="ribbonform animated slideInLeft">
                <h3 class="lead">
                    Free First<br>
                    Name Analysis
				</h3>
                <p>
                    Name<br />
                    <input type="text" data-ng-model="firstName" style="color:black" />
				</p>
                <input type="button" data-ng-click="analyzeFirstName(firstName);" value="Analyse" class="waves-effect waves-light pink btn" />
			</div>
		</div>
	</div>
    <div class="container">
        <div class="row pt-5 pb-5">
            <div class="col m6 line rvideo" style="">
                <div class="hello">
                    <iframe style="width:100%;height:315px" src="https://www.youtube.com/embed/Q3HQ01_9-b4?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
				</div>
			</div>
            <div class="col m6 white-text" id="WNM" style="margin-left:0px !important">
                <div style="width: 92%;">
                    <h3 style="font-family: 'Varela Round', sans-serif; font-weight:bold;">IMPORTANCE OF A NAME</h3>
                    <h6 style="font-family: 'Varela Round', sans-serif;">BALANCING YOUR NAME WITH DESTINY</h6>
                    <p class="aboutcontent" style="font-family: 'Varela Round', sans-serif;">
                        Have you ever wondered why for centuries giving a child a name was a religious ceremony done by a learned guru or sage? Why spiritual leaders took up a new name before beginning their sacred lives? <br /><br />Well, it was because they knew that a name held great power to affect a life and thereby success in endeavours. Click below to read more about importance of a name.<br />
					</p>
                    <p class="readmore pt-3"><a href="/the-importance-of-name">Read More</a></p>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="homefeaturebox" class="aboutsection">
    <div class="container ">
        <div class="row  py-40 mt-100 z-depth-3" style="background-color:white">
            <div class="col m6 l3 s12">
                <div class="imgs"><img class="responsive-img" src="~/images/ab1.jpg" /><h3>Baby<br />Names</h3></div>
                <p class="aboutcontent">Every child is born with strengths to serve his true potential. Choose a balanced name to unlock these talents and gift a life of success and harmony to your newborn.</p>
                <p class="readmore"><a data-ng-click="f_New_Baby_Name()">Read More</a></p>
			</div>
            <div class="col m6 l3 s12">
                <div class="imgs"><img class="responsive-img" src="~/images/ab2.jpg" /><h3>Adult<br />Names</h3></div>
                <p class="aboutcontent">A name tuned to your true abilities can bring success and happiness to life. Say goodbye to disappointment , failure and bad relationships with a balanced name.</p>
                <p class="readmore"><a data-ng-click="f_Name_Correction()">Read More</a></p>
			</div>
            <div class="col m6 l3 s12">
                <div class="imgs"><img class="responsive-img" src="~/images/ab3.jpg" /><h3>Business<br />Names</h3></div>
                <p class="aboutcontent">Your business name has hidden powers that can decide its success or failure. Use the power of a balanced name to avoid frustration and attract growth with prosperity.</p>
                <p class="readmore"><a href="/business-name">Read More</a></p>
			</div>
            <div class="col  m6 l3 s12">
                <div class="imgs"><img class="responsive-img" src="~/images/ab4.jpg" /><h3>OTHER NAMES / NUMBERS<br /></h3></div>
                <p class="aboutcontent">Names and Numbers have remarkable effects on homes, offices, vehicle, phone numbers, pets etc. A good combination can attract positive vibrations and wade off misfortune.</p>
                <p class="readmore"><a href="/others">Read More</a></p>
			</div>
		</div>
	</div>
</div>