
<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">

            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">

                    <div class="bg-dark lead" style="background: white !important;">
                        <p style="margin: 19px !important;padding: 0px !important;">Numerology Number - 5</p>
                    </div>

                    <div class=" bg-dark lead">
                        <img src="../images/NUM/Num 05.jpeg" alt="" class="card-img-top" style="padding-bottom: 14px !important;" />

                    </div>

                    <p style="font-family: 'Varela Round', sans-serif;"><b>Born on: 5th, 14th and 23rd of a month.</b></p>

					<p style="font-family: 'Varela Round', sans-serif;">The most noticeable trait about people born these dates is their sense of energy and drive to explore the unknown. As a result, born on this date makes them love taking adventures, love travel, and try new things in life. Change is what they are born for and they are most happy and excited when any work or task involving a new experience comes up. New ideas, new experiences, new understanding all appeal to them a lot. The last thing they wish to see in their life is routine or monotony.</p>

					<p style="font-family: 'Varela Round', sans-serif;">The other trait these people show is their keen sense of intuition. They always seem to have a hunch of what is about to happen or what to expect from a situation. It comes to them naturally and is often the basis of their decisions in life. </p>

					<p style="font-family: 'Varela Round', sans-serif;">With all these strengths also comes their life which thrives on chaos. Not only it makes them disorganised, but they tend to enjoy it and perform their best. In fact, all this drive for change also makes them great risk takers. this also makes them great risk takers. Not only it pushes them to be brave but also daredevils. </p>

					<p style="font-family: 'Varela Round', sans-serif;">Many of people born on these dates also happen to be great reformers who went against the society for justice and overall wellbeing. Commitments matter to them a lot and can be very unforgiving to others who don't live up to these principles.</p>

					<p style="font-family: 'Varela Round', sans-serif;">However, all these abilities of adventure can also make them very candid, aggressive in expression, including exaggerating small issues. In fact, if not balanced by a good name, the charge in these people can send these people to a path that is against the norms of society and indulge in unlawful activities. They wouldn't hesitate to break a rule to satisfy their urge to achieve something new. This for many also affects their relationships as stability is not the strength they have. Further, inability to fulfil this drive for change can also send them into a deep sense of frustration and depression.</p>

					<p style="font-family: 'Varela Round', sans-serif;">In fact, the best of sales person, journalists, investment bankers, stock brokers and reformist are born on these dates. The energy and hunger to win is their underlying mantra to success.</p>

                    <p style="font-family: 'Varela Round', sans-serif;"><b>FAVOURABLE COLOUR, STONE and METAL:</b></p>
                    <p style="font-family: 'Varela Round', sans-serif;"><b>COLOUR</b>: GREEN</p>
                    <p style="font-family: 'Varela Round', sans-serif;"><b>STONE</b>: EMERALD</p>
                    <p style="font-family: 'Varela Round', sans-serif;"><b>METAL</b>: GOLD</p>



                </div>
            </div>


            <div class="col s12 l3" data-ng-controller="sidebarController">

                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
                        </h5>
                        <p>

                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
                            <label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>
                        </p>
                        <!--p>Date of Birth<br/>
                        <input class="col  s12" type="text" />
                        </p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
                    </div>
                </div>
                <!-- principles -->
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;" data-ng-show="currentPage == 'Principles'">
                    <div class="list">
                        <ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
                            <li><a href="/about-us">About NaamVidya</a></li>
                            <!-- <li><a href="/whynamesmatter">Why name matters</a></li> -->
                            <li><a href="/balanced-name">Origins of balanced name</a></li>
                            <li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
                            <li><a href="/life-path">Purpose and Karma</a></li>
                            <li><a href="/faq">FAQ</a></li>

                        </ul>
                    </div>
                </div>

                <!-- Baby Name -->



            </div>

        </div>
    </div>
</div>

