
<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">

            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">

                    <div class="bg-dark lead" style="background: white !important;">
                        <p style="margin: 19px !important;padding: 0px !important;">Numerology Number - 7</p>
                    </div>

                    <div class=" bg-dark lead">
                        <img src="../images/NUM/Num 07.jpeg" alt="" class="card-img-top" style="padding-bottom: 14px !important;" />

                    </div>

                  
                    <p style="font-family: 'Varela Round', sans-serif;"><b>Born on: 7th, 16th, 25th of a month.</b></p>


   <p style="font-family: 'Varela Round', sans-serif;">In the school of Occult sciences, this date of birth is considered as a very sensitive number. The skills of this date-of-birth if not carefully addressed can make the person extremely quiet, reserved and an introvert. Having said that born on this date-of-birth does give strengths of being a perfectionist and attraction towards theoretical expertise. </p>

   <p style="font-family: 'Varela Round', sans-serif;">In fact, the quest for perfectionism makes them excellent analyst and thinkers, providing them with the ability to get into details of things. Give them a challenge or a task, and they will get into the depths of maters and come back with a full and thorough knowledge of the subject or activity. It makes them born researchers. On the other end, approaching them with incomplete and limited knowledge of a subject can make them very irritable.</p>

   <p style="font-family: 'Varela Round', sans-serif;">The date-of-birth also pushes people into the realms of occult, mysticism, philosophy and spirituality. They wouldn't hesitate to adopt an alternative mode of medicines if need be. There is an inherent drive within people born on this date to find answers to the deeper questions of life and nature. </p>

   <p style="font-family: 'Varela Round', sans-serif;">It is also within them to get easily offended. A slightest of aggression or a harsh word can make them reserved and send them into a shell. On similar lines they are are not the most expressive in showing affection, even though they may care about their families of a person. The date-of-birth takes away the social aspect of a person and hence they prefer to spend more time with themselves or close to nature. As result people born on this date-of-birth often struggle in matters of love or relationships.</p>

   <p style="font-family: 'Varela Round', sans-serif;">It is among the few date-of-births where it is strongly recommended to choose a name carefully. As an unbalanced name can make them extremely sensitive driving them into isolation, making them introvert with a self-pity nature. All this further affecting relationships and financial success.</p>

 <p style="font-family: 'Varela Round', sans-serif;"><b>FAVOURABLE COLOUR, STONE and METAL:</b></p>
<p style="font-family: 'Varela Round', sans-serif;"><b>COLOUR</b>: WHITE</p>
<p style="font-family: 'Varela Round', sans-serif;"><b>STONE</b>: CAT'S EYE, MOONSTONE</p>
<p style="font-family: 'Varela Round', sans-serif;"><b>METAL</b>: WHITE GOLD</p>




                </div>
            </div>


            <div class="col s12 l3" data-ng-controller="sidebarController">

                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
                        </h5>
                        <p>

                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
                            <label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>
                        </p>
                        <!--p>Date of Birth<br/>
                        <input class="col  s12" type="text" />
                        </p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
                    </div>
                </div>
                <!-- principles -->
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;" data-ng-show="currentPage == 'Principles'">
                    <div class="list">
                        <ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
                            <li><a href="/about-us">About NaamVidya</a></li>
                            <!-- <li><a href="/whynamesmatter">Why name matters</a></li> -->
                            <li><a href="/balanced-name">Origins of balanced name</a></li>
                            <li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
                            <li><a href="/life-path">Purpose and Karma</a></li>
                            <li><a href="/faq">FAQ</a></li>

                        </ul>
                    </div>
                </div>

                <!-- Baby Name -->



            </div>

        </div>
    </div>
</div>

