
<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">

            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">

                    <div class="bg-dark lead" style="background: white !important;">
                        <p style="margin: 19px !important;padding: 0px !important;">Numerology Number - 11</p>
                    </div>

                    <div class=" bg-dark lead">
                        <img src="../images/NUM/Num 11.jpeg" alt="" class="card-img-top" style="padding-bottom: 14px !important;" />

                    </div>

                  <p style="font-family: 'Varela Round', sans-serif;"><b>Born on: 11th of a month.</b></p>

   <p style="font-family: 'Varela Round', sans-serif;">In many religions and including the school of occult sciences the date of 11th is considered as special, mystic and a very unique and powerful one. Being born on this date the person is inherently gifted with a strong sense of intuition and this is their hallmark. It also gives a strong sense of individuality and power. </p>

   <p style="font-family: 'Varela Round', sans-serif;">The strong authority also comes with generosity, principles and loyalty towards those they respect and matter. In fact, most people born on this date have shown the ability to be revolutionaries, and are self-driven.</p>

   <p style="font-family: 'Varela Round', sans-serif;">The intuitive person also do great as advisors, as their sense of judgement and ability to fathom the depth of any situation makes them a great asset. </p>

   <p style="font-family: 'Varela Round', sans-serif;">Having said that, if the energies gifted by this date is not channelised rightly, can make the person aggressive and obstinate.</p>

   <p style="font-family: 'Varela Round', sans-serif;">The date-of-birth also gives drive towards spirituality and philosophy. As such, in many cases, people born on this date are driven towards matters of religion and are well informed in matters of scriptures and philosophy.</p>


<p style="font-family: 'Varela Round', sans-serif;"><b>FAVOURABLE COLOUR, STONE and METAL:</b></p>
<p style="font-family: 'Varela Round', sans-serif;"><b>COLOUR</b>: WHITE</p>
<p style="font-family: 'Varela Round', sans-serif;"><b>STONE</b>: PEARL</p>
<p style="font-family: 'Varela Round', sans-serif;"><b>METAL</b>: SILVER</p>




                </div>
            </div>


            <div class="col s12 l3" data-ng-controller="sidebarController">

                <div class="bg-yellow animated slideInBottom">
                    <div class="form clearfix">
                        <h5 class="lead wc">
                            <img src="images/soundicon.png" alt="" />Free First<br>
                            Name Analysis
                        </h5>
                        <p>

                            <input class="col  s12" type="text" data-ng-model="newfirstName" placeholder="Enter First Name" only-alphabet />
                            <label style="color:#ffffff;font-size:14px;text-align:left;">{{errMsg}}</label>
                        </p>
                        <!--p>Date of Birth<br/>
                        <input class="col  s12" type="text" />
                        </p-->
                        <input type="button" class="waves-effect waves-light pink btn" value="Analyse" data-ng-click="analyzeFirstName()" />
                    </div>
                </div>
                <!-- principles -->
                <div class="animated slideInBottom bg-aqua" style="margin-bottom:20px;" data-ng-show="currentPage == 'Principles'">
                    <div class="list">
                        <ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
                            <li><a href="/about-us">About NaamVidya</a></li>
                            <!-- <li><a href="/whynamesmatter">Why name matters</a></li> -->
                            <li><a href="/balanced-name">Origins of balanced name</a></li>
                            <li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
                            <li><a href="/life-path">Purpose and Karma</a></li>
                            <li><a href="/faq">FAQ</a></li>

                        </ul>
                    </div>
                </div>

                <!-- Baby Name -->



            </div>

        </div>
    </div>
</div>

