<div class="business-name-section">
    <div class="container">
        <div class="row mt-5 mb-5">
            <div class="col s12 l3">
                <div class="animated slideInBottom bg-aqua" data-spy="affix" data-offset-top="197">
                    <div class="list">
                        <ul>
                            <li><a href="/baby-name-gift">Gift Baby Name</a></li>
                            <li><a href="/about-us">About NaamVidya</a></li>
                            <li><a href="/why-names-matter">Why names matter</a></li>
                            <li><a href="/balanced-name">Origins of balanced name</a></li>
                            <li><a href="/ethics-beliefs">Ethics & Beliefs</a></li>
                            <li><a href="/full-name-analysis">Full Name Report</a></li>
                            @*<li><a href="/sku">Order a Name</a></li>*@
						</ul>
					</div>
				</div>
			</div>
            <div class="col s12 l9">
                <div class="card z-depth-2 mb-5">
                    <div class=" bg-dark lead">
                        <img src="../images/dummy-img.jpg" alt="" class="card-img-top" />
					<p>Origins of Balanced Name</p></div>
                    <p><b>The world was formed by a vibration, the vibration of the sound “OM”,<sub>-Upanishad</sub></b>
					</p>
                    <p>Have you ever wondered why spiritual leaders took up a new name from their guru’s when they began their spiritual journeys ?</p>
                    <p> Why Narendranath Datta became Swami Vivekananda, Mukunda Lal Ghosh became Swami Yogananda, In Genesis (17:5; 17:15), Abram’s name changed to Abraham and his wife’s from Sarai to Sarah</p>
                    <p>There are many more  citations of name changes across religions if you trace back history.</p>
                    <p>In fact, on the  birth of a child, a naming ceremony historically was considered as a religious practice, conducted with much sincerity by a guru who understood the power of name.</p>
                    <p> Whatever be the method or science used, the reason was very clear and crystal - <b>everyone knew that a name through it’s vibration of sound had a great power to awaken a person’s true destiny, identity and help achieve success in his goals.</b></p>
                    <p></p>
                    <p>And that’s what is a <b>“Balanced Name”</b>.</p>
                    <p> It ensures that your purpose in life and the strengths that are gifted to you at the time of birth (understood by analysing your date of birth) are available to use in your life, and in an enhanced way.</p>
                    <p> Just like a Mantra helps you calm your mind and provide divine strength, your name works in an exact similar way. Only that, your name is your own personal mantra that you hear and relate to every day of your life.</p>
                    <p>Importantly, the effects of it conditions your mind to align with the strengths of your subconscious mind or soul, helping you reach your life’s objective.</p>
                    <p>Similarly, with an unbalanced name, a person can live a life much restricted to his true potential and much away from his path of destiny.</p>
                    <p>At NaamVidya, it is our endeavour to help you achieve the perfectly balanced name.</p>
                    <p>Using the power behind the science of numbers, passed on to us by renowned teachers and guru’s, we are here to guide you in this journey of material and spiritual success.</p>
                    <p>If you are interested to understand more about the science and why names matter please <a data-target="#">click here</a>.</p>
				</div>
			</div>
		</div>
	</div>
</div>