<!DOCTYPE html>
<html lang="en-US"  data-ng-app="nvApp">
<head>

    <title ng-bind="ngMeta.title"></title>
    <!-- <title>Know the power of a name | Free first name and full name analysis | Choose a name for baby or correct your name through the ancient science of numbers | Learn Why Names Matter</title> -->
    <!-- <meta name="description" content="A name can bring success or struggle in life. Take a free first name and full name analysis to see how it has affected you or your baby. Understand why a naming ceremony was a ritual and why saints took up a new name on their spiritual journeys." /> -->
    <meta property="og:image" content="https://www.naamvidya.com/images/NVLogo_Small.png">
    <!-- <meta name="keywords" content="NaamVidya, Naam Vidya, Baby Name, Adult Name, Child Name, Spouse Name, Name Change, Numerology, Nominative Determinism, Hindu Baby Name, Muslim Baby Name, Name and destiny, Name Analysis, astrology, Chaldean, name correction, changing names, name meaning, consciousness, Purpose of life, Karma, why names matter, how to choose a name, personality, nature, purpose of life." /> -->
    @*<meta prefix="og: http://ogp.me/ns#" property="og:keywords" content="{{ngMeta.keywords}}" />*@
    @*<meta prefix="og: http://ogp.me/ns#" property="og:description" content="{{ngMeta.description}}" />*@


    @*<title>Know the power of a name | Free first name and full name analysis | Choose a name for baby or correct your name through the ancient science of numbers | Learn Why Names Matter</title>*@
    <!--@*<meta name="description" content="A name can bring success or struggle in life. Take a free first name and full name analysis to see how it has affected you or your baby. Understand why a naming ceremony was a ritual and why saints took up a new name on their spiritual journeys." />*@-->




    <meta property="og:image" content="https://www.naamvidya.com/images/NVLogo_Small.png">
    <meta prefix="og: http://ogp.me/ns#" property="og:keywords" content="{{ngMeta.keywords}}" />
    <meta class='type' property="og:type" content="" />
    <meta class='title' property="og:title" content="{{ngMeta.title}}" />
    <meta class='url' property="og:url" content="{{ngMeta.url}}" />
    <meta class='description' prefix="og: http://ogp.me/ns#" property="og:description" content="{{ngMeta.description}}" />

    <!--Import Google Icon Font-->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="~/assets/materialize.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" media="all">
    <link rel="stylesheet" type="text/css" href="~/assets/slick.css">
    <link type="text/css" rel="stylesheet" href="~/assets/style.css" media="all">
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i,700" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="~/assets/owl.carousel.min.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/assets/owl.theme.default.css" media="all">
    <link type="text/css" rel="stylesheet" href="~/assets/custom.css" media="all">

    <!--Import materialize.css-->
    @*<link type="text/css" rel="stylesheet" href="~/css/materialize.min.css" media="all" />
        <link type="text/css" rel="stylesheet" href="~/css/font-awesome.min.css" media="all" />
        <link rel="stylesheet" type="text/css" href="~/css/slick.css" />

        <link type="text/css" rel="stylesheet" href="~/css/style.css" media="all" />*@

    <script src="~/assets/jquery.js"></script>
    <script src="~/assets/owl.carousel.min.js"></script>
    <script src="~/assets/jquery.matchHeight.js"></script>
    <script src="~/js/bootstrap.min.js"></script>


    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <style>
        .home-layout {
            background: #ffffff !important;
        }


        body {
            position: relative;
            background: url('images/bg.png');
        }

        .affix {
            position: fixed;
            z-index: -1;
        }

        .affix {
            top: 0;
        }

            .affix ~ .container {
                position: relative;
                top: 50px;
            }

        .dropdown {
            position: absolute;
            top: 2px;
            left: 0.015625px;
            opacity: 1;
            display: block;
        }

        .showbody {
            display: block !important;
        }

        .resultName {
            padding: 10px;
            margin: 0px;
            display: block;
            clear: both;
            font-size: 36px;
            font-family: 'Kaushan Script', cursive;
            color: #d5a53a;
            text-align: center;
        }
    </style>

    @*<script>
            (function (h, o, t, j, a, r) {
                h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
                h._hjSettings = { hjid: 615774, hjsv: 5 };
                a = o.getElementsByTagName('head')[0];
                r = o.createElement('script'); r.async = 1;
                r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
                a.appendChild(r);
            })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');
            </script>


            <script type="text/javascript" async>
                //<![CDATA[
                var tlJsHost = ((window.location.protocol == "https:") ? "https://secure.comodo.com/" : "http://www.trustlogo.com/");
                document.write(unescape("%3Cscript src='" + tlJsHost + "trustlogo/javascript/trustlogo.js' type='text/javascript'%3E%3C/script%3E"));
                //]]>
        </script>*@

</head>

<body id="body" class="home" data-spy="scroll" data-target=".slideInBottom" data-offset="50" data-ng-controller="bodyController">
    <input type="hidden" id="refreshed" value="no">
    <script type="text/javascript">
        onload = function () {
            var e = document.getElementById("refreshed");
            if (e.value == "no")
                e.value = "yes";
            else {
                e.value = "no";
                // alert('reload');

                location.reload();
            }
        }
    </script>

    <div id="Processfile" style="position:fixed;top:0px;Left:0px;z-index:1999;background:rgba(0,0,0,0.5);width:100%;height:100%;">

        <div style="width:300px;height:200px;margin: 0 auto;margin-top:150px;">
            <div class="center">
                @*<img  src="images/NaamVidya.png" />*@
                @*<h5 style="color:#ffffff;">loading..</h5>*@
                <div class="preloader-wrapper big active">
                    <div class="spinner-layer spinner-blue">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                    <div class="spinner-layer spinner-red">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-yellow">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>

                    <div class="spinner-layer spinner-green">
                        <div class="circle-clipper left">
                            <div class="circle"></div>
                        </div><div class="gap-patch">
                            <div class="circle"></div>
                        </div><div class="circle-clipper right">
                            <div class="circle"></div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>


    @*<div id="google_translate_element"></div>*@

    @*<script type="text/javascript">
        function googleTranslateElementInit() {
            new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE }, 'google_translate_element');
        }
        </script>

        <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@



    <div data-ui-view="Header"></div>
    <div data-ui-view="Main" id="Main"></div>
    <div data-ui-view="Footer"></div>



    <!--Import jQuery before materialize.js-->
    @*<script type="text/javascript" src="~/js/jquery-2.1.1.min.js" async defer></script>*@
    <script src="~/js/materialize.min.js" async></script>
    <script type="text/javascript" src="~/js/jquery.bxslider.min.js" async defer></script>

    @*<script src="~/js/autosize.js"></script>*@
    <script>

    </script>
    @*<script src="~/js/custom.js" async defer></script>*@

    <!--angulars js-->
    @Scripts.Render("~/bundles/angularjs")

    <!--nv app scripts-->
    @Scripts.Render("~/bundles/nvappjs")

    <script src="https://cdnjs.cloudflare.com/ajax/libs/ng-meta/0.3.9/ngMeta.min.js"></script>

    <!-- Start of Google Analytics Code -->
    @*<script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-102959870-1', 'auto');
            ga('send', 'pageview');

        </script>*@
    <!-- End of Google Analytics Code -->
    <!-- Facebook Pixel Code -->
    @*<script>
            !function (f, b, e, v, n, t, s) {
                if (f.fbq) return; n = f.fbq = function () {
                    n.callMethod ?
                    n.callMethod.apply(n, arguments) : n.queue.push(arguments)
                }; if (!f._fbq) f._fbq = n;
                n.push = n; n.loaded = !0; n.version = '2.0'; n.queue = []; t = b.createElement(e); t.async = !0;
                t.src = v; s = b.getElementsByTagName(e)[0]; s.parentNode.insertBefore(t, s)
            }(window,
            document, 'script', 'https://connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1893887067304739'); // Insert your pixel ID here.
            fbq('track', 'PageView');
        </script>
        <noscript>
            <img height="1" width="1" style="display:none"
                 src="https://www.facebook.com/tr?id=1893887067304739&ev=PageView&noscript=1" />
        </noscript>*@
    <!-- DO NOT MODIFY -->
    <!-- End Facebook Pixel Code -->
    <!--Start of Tawk.to Script-->
    <script type="text/javascript" async>
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/596359696edc1c10b03453db/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->
    <!----Start of fb share button-->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {

            var js, fjs = d.getElementsByTagName(s)[0];

            if (d.getElementById(id)) return;

            js = d.createElement(s); js.id = id;

            js.src = "//connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v2.10";

            fjs.parentNode.insertBefore(js, fjs);

        }(document, 'script', 'facebook-jssdk'));
    </script>
    <!----End of fb share button-->
    @*<script type="text/javascript">
        window._mfq = window._mfq || [];
        (function() {
        var mf = document.createElement("script");
        mf.type = "text/javascript"; mf.async = true;
        mf.src = "//cdn.mouseflow.com/projects/c950f56f-6685-492e-9846-547967e81624.js";
        document.getElementsByTagName("head")[0].appendChild(mf);
        })();
        </script>*@


    <!--Start of Inspect Block Script-->
    @*<script>
            $(document).keydown(function (event) {
                if (event.keyCode == 123) {
                    return false;
                }
                else if (event.ctrlKey && event.shiftKey && event.keyCode == 73) {
                    return false;  //Prevent from ctrl+shift+i
                }
            });
            $(document).on("contextmenu", function (e) {
                e.preventDefault();
            });
        </script>*@
    <!--End of Inspect Block Script-->

    <script src="https://www.paypalobjects.com/api/checkout.js"></script>

    <div id="nvssl">
        <!-- <script language="JavaScript" type="text/javascript"> -->
        <!-- TrustLogo("https://www.naamvidya.com/comodo_secure_seal.png", "CL1", "none"); -->
        <!-- </script> -->
        <!-- <a id="ssl" href="https://ssl.comodo.com" id="comodoTL"></a> -->
    </div>

    @*<script data-cfasync="false">window.ju_num = "E121A833-CBEF-4BAB-8EA5-8E0C722CF2E4"; window.asset_host = '//cdn.justuno.com/'; (function (i, s, o, g, r, a, m) { i[r] = i[r] || function () { (i[r].q = i[r].q || []).push(arguments) }; a = s.createElement(o), m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m) })(window, document, 'script', asset_host + 'vck.js', 'juapp');</script>*@

    <!--Minification-->
    <!-- <script> -->
    <!-- AddAltToImg = function (imageTagAndImageID, imageContext) { -->
    <!-- var imageElement = $(imageTagAndImageID, imageContext); -->
    <!-- imageElement.attr('alt', imageElement.attr('id').replace(/ID/, '')); -->
    <!-- } -->
    <!-- </script> -->
    <!--Minification end-->

    <!--Start of mediapasta Script-->
    <script>
        $(document).ready(function () {
            changeValues();

            $('.dropdown').click(function () {
                changeValues();
            });
            $('.dropdown a').click(function () {
                changeValues();
            });
            function changeValues() {
                <!-- var domain = 'http://66.70.152.185:88/'; -->
				var domain = 'http://naamvidya.com/';

                var url = window.location.href;
                console.log(url);
                var path = url.split(domain)[1];
                path = path.trim();

                var pathArray = new Object();
                pathArray[''] = new Object();
                pathArray['']['title'] = 'Name Numerology | Meaning of Names';
                pathArray['']['description'] = 'A name can bring success or struggle in life. UseNaamVidyaName Numerologyto understandmeaning of namesand and how it has affected you or your baby';
                pathArray['']['keyWords'] = 'Name Numerology, Meaning of Names';

                pathArray['about-us'] = new Object();
                pathArray['about-us']['title'] = 'About Us | Meaning of names';
                pathArray['about-us']['description'] = 'Our names have lot of power and people can realize their true potential by understanding themeaning  of names.Visit Naamvidya and understand how your name can change your luck and future prospects.';
                pathArray['about-us']['keyWords'] = 'Meaning of names';

                pathArray['baby-name'] = new Object();
                pathArray['baby-name']['title'] = 'Numerology Name for New Born Baby | Baby Name Numerology';
                pathArray['baby-name']['description'] = 'Use advanced numerology science when naming your baby.Give anumerology name for new born babyand ensure his/her best future. Visit Naamvidya and understand the principle ofbaby name numerologyto unlock the luck of your baby.';
                pathArray['baby-name']['keyWords'] = 'Numerology Name for New Born Baby, Baby Name Numerology';

                pathArray['name-correction'] = new Object();
                pathArray['name-correction']['title'] = 'Numerology name correction | Numerology name change';
                pathArray['name-correction']['description'] = 'If you wish to getnumerology name changeand ensure a better life and future for yourself, visit Naamvidya and getnumerology name correctionby experts in the field.';
                pathArray['name-correction']['keyWords'] = 'Numerology name correction, Numerology name change';

                pathArray['business-name'] = new Object();
                pathArray['business-name']['title'] = 'Business Name Numerology | Numerology For Business Name Online';
                pathArray['business-name']['description'] = 'If you are worried about future prospects of your business, visit Naamvidya and getbusiness name numerologyhelp from the experts and get the bestnumerology for business name onlinefor the best results.';
                pathArray['business-name']['keyWords'] = 'Business Name Numerology, Numerology For Business Name Online';

                pathArray['how-it-works'] = new Object();
                pathArray['how-it-works']['title'] = 'Name Numerology | New Born Baby Name';
                pathArray['how-it-works']['description'] = 'Name numerologyis a science and there are experts who sharetheir knowledge to bring positive change in the lives of people. It is important to choosenew born baby nameat Naamvidya with great care for his or her brighter future.';
                pathArray['how-it-works']['keyWords'] = 'Name Numerology, New Born Baby Name';

                pathArray['why-names-matter'] = new Object();
                pathArray['why-names-matter']['title'] = 'Baby Names And Its Meaning  | Numerology Name Change';
                pathArray['why-names-matter']['description'] = 'Baby names and its meaninghas a lot of relevance. Visit Naamvidya and getnumerology name changeto ensure they enjoy a brighter and successful future. Visit Naamvidya for more information.';
                pathArray['why-names-matter']['keyWords'] = 'Baby Names And Its Meaning, Numerology Name Change';

                pathArray['balanced-name'] = new Object();
                pathArray['balanced-name']['title'] = 'Balanced Name  | New Born Baby Name';
                pathArray['balanced-name']['description'] = 'A name can bring success or struggle in life. UseName Numerologyto choose abalanced namefor your baby. Take a free first name and full name analysis tounderstand the meaning of names and how it has affected you or your baby';
                pathArray['balanced-name']['keyWords'] = 'Balanced Name, New Born Baby Name';

                pathArray['ethics-beliefs'] = new Object();
                pathArray['ethics-beliefs']['title'] = 'NaamVidya Principles | Name Numerology';
                pathArray['ethics-beliefs']['description'] = 'There are many beliefs related withname numerologyand before naming your baby, it is important to understandNaamvidya principlesand accordingly name your baby for a brighter future.';
                pathArray['ethics-beliefs']['keyWords'] = 'aamVidya Principles, Name Numerology';

                pathArray['life-path'] = new Object();
                pathArray['life-path']['title'] = 'Science Of Numerology | Baby Names';
                pathArray['life-path']['description'] = 'Understand thescience of numerologythat has an impact on life path of a person. Visit Naamvidya to find best and most relevantbaby namesfor your baby for his better and brighter tomorrow.';
                pathArray['life-path']['keyWords'] = 'Science Of Numerology, Baby Names';

                pathArray['the-importance-of-name'] = new Object();
                pathArray['the-importance-of-name']['title'] = 'Numerology Name Change| Baby Names And Its Meaning';
                pathArray['the-importance-of-name']['description'] = 'A name can bring success or struggle in life. Take a free first name and full name analysis to see how it has affected you or your baby. Understand why a naming ceremony was a ritual and why saints took up a new name on their spiritual journeys.';
                pathArray['the-importance-of-name']['keyWords'] = 'Numerology Name Change, Baby Names And Its Meaning';

                pathArray['numerology-number'] = new Object();
                pathArray['numerology-number']['title'] = 'Numerology number | New Born Baby Name';
                pathArray['numerology-number']['description'] = 'No need to scratch your head to find out a suitableNew Born Baby Namefor your little angel! Let a team of experienced numerology experts help you. A name based on theNumerology numberwill bless your baby with worry free and successful life.';
                pathArray['numerology-number']['keyWords'] = 'Numerology number, New Born Baby Name';

                pathArray['numerology'] = new Object();
                pathArray['numerology']['title'] = 'Numerology | Name Numerology';
                pathArray['numerology']['description'] = 'Name Numerologyis an ancient science that calculates the number that drives your destiny. Give all your problems to us, and we will find the fundamental cause of the problem usingNumerology. No more worries and struggles in life.';
                pathArray['numerology']['keyWords'] = 'Numerology, Name Numerology';

                pathArray['numerologist'] = new Object();
                pathArray['numerologist']['title'] = 'Numerologist | Business Name Numerology';
                pathArray['numerologist']['description'] = 'Not getting the amount of success in the business that you always dreamt about? Let our Numerologist find out what is the stumbling block? With the profound knowledge of Business Name Numerology,our numerologists take you to the path of success.';
                pathArray['numerologist']['keyWords'] = 'Numerologist, Business Name Numerology';

                pathArray['numerology-number-1'] = new Object();
                pathArray['numerology-number-1']['title'] = 'Numerology Number | Name Numerology';
                pathArray['numerology-number-1']['description'] = 'When you are puzzled with problems that come one after the other, it may be because of something beyond your control. Ourname numerology expertsgive you answers and remedies for it. Your Numerology numbertells everything about you!';
                pathArray['numerology-number-1']['keyWords'] = 'Numerology number, name numerology';

                pathArray['numerology-number-2'] = new Object();
                pathArray['numerology-number-2']['title'] = 'Numerology Number | Numerology Name Change';
                pathArray['numerology-number-2']['description'] = 'Perfect balance is the secret to success. If there is an imbalance due to the Numerology number,then correct it today. By making simple yet effective numerology name change,we transform your life and take it to unprecedented heights.';
                pathArray['numerology-number-2']['keyWords'] = 'Numerology number, numerology name change';

                pathArray['numerology-number-3'] = new Object();
                pathArray['numerology-number-3']['title'] = 'Numerology Number | Numerology Name For New Born Baby';
                pathArray['numerology-number-3']['description'] = 'When you want numerology name for new born baby,we are the one-stop solution. Our experts guarantee accurate Numerology numberand most suitable name for the little angel. It will alter the path of life.';
                pathArray['numerology-number-3']['keyWords'] = 'Numerology number, numerology name for new born baby';

                pathArray['numerology-number-4'] = new Object();
                pathArray['numerology-number-4']['title'] = 'Numerology Number | Baby Name Numerology';
                pathArray['numerology-number-4']['description'] = 'Our baby name numerology experts use their skills to find out the magic number which has the potential of changing the life stream. Get the Numerology numberand specific, to-the-point advice to make the journey of life successful';
                pathArray['numerology-number-4']['keyWords'] = 'Numerology number, baby name numerology';

                pathArray['numerology-number-5'] = new Object();
                pathArray['numerology-number-5']['title'] = 'Numerology | Numerology Number';
                pathArray['numerology-number-5']['description'] = 'Hard work is not enough for a business to succeed, it is important that the stars also support you. Our business name numerology experts find out what is stopping you from achieving success? Get aligned everything with the Numerology numberand see how fast you move!';
                pathArray['numerology-number-5']['keyWords'] = 'Numerology number, Numerology';

                pathArray['numerology-number-6'] = new Object();
                pathArray['numerology-number-6']['title'] = 'Numerology Number | Numerology Name Correction';
                pathArray['numerology-number-6']['description'] = 'Are you worried about constant problems and hurdles in the life? Is every action performed by you is generating negative results? It means you need numerology name correction.Let our Numerology number experts correct the imbalance, and you enjoy all the success.';
                pathArray['numerology-number-6']['keyWords'] = 'Numerology number, numerology name correction';

                pathArray['numerology-number-7'] = new Object();
                pathArray['numerology-number-7']['title'] = 'Numerology Number | Numerology';
                pathArray['numerology-number-7']['description'] = 'Everything in our life is a number; we all are governed by it.Numerologyis the science of calculating the number that governs every aspect of your life. When you align everything with the right Numerology number,success is not unachievable. Call today for the right help.';
                pathArray['numerology-number-7']['keyWords'] = 'Numerology number, Numerology';

                pathArray['numerology-number-8'] = new Object();
                pathArray['numerology-number-8']['title'] = 'Numerology Number | Numerologist';
                pathArray['numerology-number-8']['description'] = 'Searching for a new job? Or launching a new product? Ask our Numerologistabout the right Numerology numberfor you. With your efforts and talent, you need the support of supreme universal powers also. We bring it for you.';
                pathArray['numerology-number-8']['keyWords'] = 'Numerology number, Numerologist';

                pathArray['numerology-number-9'] = new Object();
                pathArray['numerology-number-9']['title'] = 'Numerology | Numerology Number';
                pathArray['numerology-number-9']['description'] = 'Marriage, new job, new property or childbirth; all such events are the milestones in our life. Let Numerology,the science of numbers should help you at every stage so that every decision made by you is a calculated decision. When it is in line with the Numerology Numberthat controls your life, you win the race.';
                pathArray['numerology-number-9']['keyWords'] = 'Numerology, Numerology Number';

                pathArray['numerology-number-11'] = new Object();
                pathArray['numerology-number-11']['title'] = 'New Born Baby Name | Numerology Number';
                pathArray['numerology-number-11']['description'] = 'Every person comes with the effects of the good and bad deeds. However, it is possible to lessen the effects by using the right Numerology Number.If you are looking for theNew Born Baby Name,then ask our experts. We suggest names that are most suitable for the newborn.';
                pathArray['numerology-number-11']['keyWords'] = 'New Born Baby Name, Numerology Number';


                $('#title').text(pathArray[path]['title']);
                $('.title').attr('content', pathArray[path]['title']);
                $('.description').attr('content', pathArray[path]['description']);
                $('.keywords').attr('content', pathArray[path]['keyWords']);
                $('.url').attr('content', url);
            }
        });
    </script>
    <!--end of mediapasta Script-->
</body>
</html>
